<a href="https://colab.research.google.com/github/TYH71/AIML_CA1/blob/main/Model_Selection_v2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# PAI CA2 - Model Selection

- Class: DAAA/FT/2B/04
- Names: Yu Hoe, Dylan, Choon Wei
- Author: Yu Hoe, Dylan

## Objective

> We aim to conduct a data science project workflow on **Just Taxi** telematic dataset, which includes applying advanced data processing techniques on the dataset, building and optimizing machine learning models, tracking and monitoring machine learning, and deploy the machine-learning model as a graphical user interface.

## Motivation

> This notebook is created to conduct the model selection process, to determine the most suitable machine learning algorithm for the **Just Taxi** telematic dataset.

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
! pip install -q --upgrade imbalanced-learn
import imblearn

# Machine Learning Modules
from sklearn.model_selection import train_test_split

import warnings
warnings.filterwarnings('ignore')

In [2]:
# Matplotlib styling
plt.style.use('seaborn-dark')
plt.rcParams['figure.figsize'] = 16, 9
plt.rcParams['figure.autolayout'] = True

## Hardware Specifications

|![Colab Logo](https://colab.research.google.com/img/colab_favicon_256px.png)|
|:--:|
|Google Colaboratory Logo [[Source](https://blog.tensorflow.org/2018/05/colab-easy-way-to-learn-and-use-tensorflow.html)]|

Having the right resources is important to any data science project, which provides an increase in performance and quality. In our case, every team member has purchased [Colab Pro](https://colab.research.google.com/signup) for better GPUs and memory, in order to avoid any bottlenecks in computational performances.

In [3]:
# Retrieve CPU and GPU information
! lscpu
! nvidia-smi

Architecture:        x86_64
CPU op-mode(s):      32-bit, 64-bit
Byte Order:          Little Endian
CPU(s):              4
On-line CPU(s) list: 0-3
Thread(s) per core:  2
Core(s) per socket:  2
Socket(s):           1
NUMA node(s):        1
Vendor ID:           GenuineIntel
CPU family:          6
Model:               79
Model name:          Intel(R) Xeon(R) CPU @ 2.20GHz
Stepping:            0
CPU MHz:             2199.998
BogoMIPS:            4399.99
Hypervisor vendor:   KVM
Virtualization type: full
L1d cache:           32K
L1i cache:           32K
L2 cache:            256K
L3 cache:            56320K
NUMA node0 CPU(s):   0-3
Flags:               fpu vme de pse tsc msr pae mce cx8 apic sep mtrr pge mca cmov pat pse36 clflush mmx fxsr sse sse2 ss ht syscall nx pdpe1gb rdtscp lm constant_tsc rep_good nopl xtopology nonstop_tsc cpuid tsc_known_freq pni pclmulqdq ssse3 fma cx16 pcid sse4_1 sse4_2 x2apic movbe popcnt aes xsave avx f16c rdrand hypervisor lahf_lm abm 3dnowprefetch invpcid_single ssbd ibrs ibpb stibp fsgsbase tsc_adjust bmi1 hle avx2 smep bmi2 erms invpcid rtm rdseed adx smap xsaveopt arat md_clear arch_capabilities
/bin/bash: nvidia-smi: command not found

# Mounting Google Drive

![Colab + Drive](https://miro.medium.com/max/956/1*BKyVeBWvz1TjhjkBLHpEsg.png)

> In the previous phase of the project, our team has found much difficulty in collaborating on [GitHub](https://github.com/), as the `.csv` dataset crossed over the 100mb git limit. This brought the Waterflow workflow problem, where only one person could attempt their task while the rest stay idle. <br><br> For this phase of the project, we diverted away from this approach and used Google Drive instead to host the dataset such that every team member can have easy access to the dataset via [Google Colaboratory](https://colab.research.google.com/) during development process.

```python
# With only two lines of code, we can access Google Drive.
from google.colab import drive
drive.mount('/content/drive')
```

In [4]:
# Mounting Drive
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

## Metadata

The telematics data collected during driving trips are useful to detect if the trip is dangerous and has high crash / accident probability.

Data Schema (Field & Description):

| bookingID | trip |
| ---:|:--- |
| accuracy | accuracy inferred by GPS in meters |
| bearing | GPS bearing in degree |
| acceleration_x | accelerometer reading at x axis (m/s2) |
| acceleration_y | accelerometer reading at y axis (m/s2) |
| acceleration_z | accelerometer reading at z axis (m/s2) (Acceleration determines the acceleration / vibration of the device in motion. Each of the axis can be thought of as a different sensor even though they reside on the same physical chip) |
| gyro_x | gyroscope reading in x axis (rad/s) |
| gyro_y | gyroscope reading in y axis (rad/s) |
| gyro_z | gyroscope reading in z axis (rad/s) (Gyroscope data determine the orientation of the device relative to earth's gravity) |
| second | time of the record by number of seconds |
| speed | speed measured by GPS in m/s |
| label | tags to indicate dangerous driving trip (0: Normal trip / 1: Dangerous trip) |

!! IMPORTANT NOTE: ACCURACY MEANS THE DISTANCE BETWEEN THE PHONE LOCATION AND WHERE IT IS ACTAULLY LOCATED !!

In [5]:
# Import dataset
df = pd.read_csv('/content/drive/MyDrive/PAI Documents/Processed Data/processed_telematic_data.csv')
display(df)

             BookingID  Second  Accuracy  ...    Gyro_z     Speed  Label
0                    0     2.0       8.0  ...  0.015390  0.228454      0
1                    0     3.0       8.0  ... -0.025753  0.228454      0
2                    0     9.0       8.0  ...  0.025118  0.228454      0
3                    0    11.0       8.0  ... -0.004078  0.228454      0
4                    0    12.0       8.0  ... -0.009830  0.228454      0
...                ...     ...       ...  ...       ...       ...    ...
7018380  1709396983975   552.0       6.0  ... -0.079793  1.695058      1
7018381  1709396983975   553.0       6.0  ... -0.046133  1.695058      1
7018382  1709396983975   554.0       7.0  ... -0.006609  1.035811      1
7018383  1709396983975   555.0       8.0  ... -0.008706  1.035811      1
7018384  1709396983975   556.0       8.0  ... -0.010823  1.035811      1

[7018385 rows x 12 columns]

In [6]:
# aggregate by bookingid
df_agg = pd.DataFrame()
for col in df.columns:
    if col != "BookingID" and col != "Label":
        temp = df.groupby("BookingID")[col].agg(["mean", "max", "min"])
        df_agg[col + "_mean"] = temp["mean"]
        df_agg[col + "_max"] = temp["max"]
        df_agg[col + "_min"] = temp["min"]
    elif col == "Label":
        temp = df.groupby("BookingID")[col].agg(["max"])
        df_agg[col] = temp['max']

# display dataframe
df_agg.reset_index(inplace=True)
display(df_agg)

# display dataframe shape
print("Before Aggregation: {}".format(df.shape))
print("After Aggregation: {}".format(df_agg.shape))
print("Rows Pct Change: {:.2%}".format((df.shape[0] - df_agg.shape[0])/df.shape[0]))

           BookingID  Second_mean  Second_max  ...  Speed_max  Speed_min  Label
0                  0   928.337054      1589.0  ...  22.882523   0.064309      0
1                  1   575.399485      1034.0  ...  21.882141   0.000000      1
2                  2   320.777778       822.0  ...   9.257438   0.000000      1
3                  4   541.207039      1092.0  ...  19.560000   0.000000      1
4                  6   540.685437      1092.0  ...  16.394695   0.000000      0
...              ...          ...         ...  ...        ...        ...    ...
19927  1709396983957   533.340090      1044.0  ...   6.275580   0.000290      1
19928  1709396983960   424.188623       809.0  ...  24.059150   0.000000      1
19929  1709396983966   584.032258       988.0  ...  25.640000   0.000000      1
19930  1709396983971   523.682773      1076.0  ...  19.287226   0.000000      1
19931  1709396983975   411.702703       556.0  ...  16.633823   0.228300      1

[19932 rows x 32 columns]

Before Aggregation: (7018385, 12)
After Aggregation: (19932, 32)
Rows Pct Change: 99.72%

In [7]:
# Define Features and Labels
X = df_agg.set_index('BookingID').drop('Label', axis=1)
y = df_agg.set_index('BookingID').loc[:, 'Label']

print("X shape: {}\ny shape: {}".format(X.shape, y.shape))

X shape: (19932, 30)
y shape: (19932,)

In [8]:
# Split Training and Testing Ratio - 4:1
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
print("X_train: {}\ty_train: {}\nX_test: {}\ty_test: {}".format(X_train.shape, y_train.shape, X_test.shape, y_test.shape))

X_train: (15945, 30)	y_train: (15945,)
X_test: (3987, 30)	y_test: (3987,)

# Pipeline Development

In [9]:
# pipeline and preprocessing modules
from imblearn.pipeline import Pipeline
from sklearn.neighbors import LocalOutlierFactor
from imblearn.over_sampling import SMOTE
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression

## Local Outlier Factor

In [10]:
# Identify outliers via LocalOutlierFactor
iso = LocalOutlierFactor(contamination=0.05)
X_out = iso.fit_predict(X_train)
# select all rows that are not outliers
mask = (X_out != -1)

# Store removed outliers in a new variable
X_train_out, y_train_out = X_train[mask], y_train[mask]

# summarize the shape of the updated training dataset
print('Shape of the training dataset after removing outliers', X_train_out.shape, y_train_out.shape)

Shape of the training dataset after removing outliers (15147, 30) (15147,)

## SMOTE

In [11]:
# instantiate smote class and resample
smote = SMOTE(sampling_strategy='auto', random_state=42, k_neighbors=5, n_jobs=-1)
X_train_smote, y_train_smote = smote.fit_resample(X_train_out, y_train_out)

print("Before Resampling: {} {}".format(X_train_out.shape, y_train_out.shape))
print("After Resampling: {} {}".format(X_train_smote.shape, y_train_smote.shape))

Before Resampling: (15147, 30) (15147,)
After Resampling: (22904, 30) (22904,)

## Z-Score Standardization

In [12]:
# instantiate standard scaler class
scaler = StandardScaler()
X_train_scale = scaler.fit_transform(X_train_smote, y_train_smote)
X_train_scale = pd.DataFrame(X_train_scale, columns=X_train_smote.columns)

## Create Pipeline Function

In [13]:
# function to build a machine learning pipeline
def create_pipeline(model):
    # model: expects an estimator object, being able to .fit() and .predict()
    # returns a pipeline instance
    ml_pipeline = Pipeline(
        steps=[
            ("SMOTE", smote),
            ("Z-Score Standardization", scaler),
            (model.__repr__(), model)
        ]
    )
    return ml_pipeline

# attempting to recreate ml baseline
ml_baseline = create_pipeline(LogisticRegression(max_iter=1000))
print(ml_baseline)

Pipeline(steps=[('SMOTE', SMOTE(n_jobs=-1, random_state=42)),
                ('Z-Score Standardization', StandardScaler()),
                ('LogisticRegression(max_iter=1000)',
                 LogisticRegression(max_iter=1000))])

# Model Selection

In [14]:
# scikit-learn machine learning models
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import GaussianNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import LinearSVC, SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import (
    GradientBoostingClassifier, 
    RandomForestClassifier,
    AdaBoostClassifier,
)

# third party machine learning models
from xgboost import XGBClassifier
from lightgbm import LGBMClassifier

# model selection modules
from sklearn.model_selection import cross_validate

In [15]:
# prepare ray parallel backend
import joblib
!pip install -q ray
from ray.util.joblib import register_ray
import ray
ray.init(ignore_reinit_error=True)
register_ray()

In [16]:
models = [
    LogisticRegression(n_jobs=-1),
    GaussianNB(),
    KNeighborsClassifier(),
    SVC(),
    DecisionTreeClassifier(),
    RandomForestClassifier(n_jobs=-1),
    XGBClassifier(n_jobs=-1),
    LGBMClassifier(n_jobs=-1)
]

In [17]:
# # setting model at default hyperparameters into a list
# models = [
#     LogisticRegression(n_jobs=-1),
#     KNeighborsClassifier(),
#     LinearSVC(),
#     SVC(),
#     DecisionTreeClassifier(),
#     GradientBoostingClassifier(),
#     RandomForestClassifier(n_jobs=-1),
#     AdaBoostClassifier(),
# ]

In [18]:
%%time
models_cv_score = {}

# model training using ray backend
with joblib.parallel_backend('ray'):
    for model in models:
        print(model.__repr__())
        pipeline_obj = create_pipeline(model)
        cv_score = cross_validate(
            pipeline_obj, 
            X_train_out, 
            y_train_out, 
            return_train_score=True,
            cv=10,
            n_jobs=-1, 
            scoring=['accuracy', 'f1', 'precision', 'recall', 'roc_auc'],
            verbose=1
        )
        cv_score_mean = {"mean_{}".format(k) : np.mean(v) for k, v in cv_score.items()}

        models_cv_score[model.__repr__()] = cv_score_mean

2022-02-06 09:21:12,056	WARNING pool.py:494 -- The 'context' argument is not supported using ray. Please refer to the documentation for how to control ray initialization.

LogisticRegression(n_jobs=-1)

[Parallel(n_jobs=-1)]: Using backend RayBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  10 out of  10 | elapsed:    4.1s finished

GaussianNB()

[Parallel(n_jobs=-1)]: Using backend RayBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  10 out of  10 | elapsed:    4.9s finished

KNeighborsClassifier()

[Parallel(n_jobs=-1)]: Using backend RayBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  10 out of  10 | elapsed:  1.5min finished

SVC()

[Parallel(n_jobs=-1)]: Using backend RayBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  10 out of  10 | elapsed:  7.5min finished

DecisionTreeClassifier()

[Parallel(n_jobs=-1)]: Using backend RayBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  10 out of  10 | elapsed:    7.4s finished

RandomForestClassifier(n_jobs=-1)

[Parallel(n_jobs=-1)]: Using backend RayBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  10 out of  10 | elapsed:   45.8s finished

XGBClassifier(n_jobs=-1)

[Parallel(n_jobs=-1)]: Using backend RayBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  10 out of  10 | elapsed:   28.4s finished

LGBMClassifier()

[Parallel(n_jobs=-1)]: Using backend RayBackend with 4 concurrent workers.

CPU times: user 24.6 s, sys: 4.29 s, total: 28.9 s
Wall time: 11min 4s

[Parallel(n_jobs=-1)]: Done  10 out of  10 | elapsed:   11.6s finished

![](https://www.researchgate.net/profile/Sebastian-Bittrich/publication/330174519/figure/fig1/AS:711883078258689@1546737560677/Confusion-matrix-Exemplified-CM-with-the-formulas-of-precision-PR-recall-RE.png)

In [23]:
models_cv_df = pd.DataFrame(models_cv_score).T
models_cv_df_style = models_cv_df.style.apply(lambda x: ['background-color: yellow; color: black' if v else '' for v in x == x.max()]).apply(lambda x: ['background-color: orange; color: black' if v else '' for v in x == x.min()])
display(models_cv_df_style)

In [24]:
models_cv_df_style.to_html()

'<style type="text/css">\n#T_dee4d_row0_col0, #T_dee4d_row0_col3, #T_dee4d_row0_col7, #T_dee4d_row1_col5, #T_dee4d_row1_col11, #T_dee4d_row2_col2, #T_dee4d_row2_col6, #T_dee4d_row4_col1, #T_dee4d_row4_col4, #T_dee4d_row4_col10, #T_dee4d_row6_col9, #T_dee4d_row7_col8 {\n  background-color: orange;\n  color: black;\n}\n#T_dee4d_row0_col4, #T_dee4d_row0_col8, #T_dee4d_row0_col10, #T_dee4d_row3_col0, #T_dee4d_row3_col1, #T_dee4d_row4_col3, #T_dee4d_row4_col5, #T_dee4d_row4_col7, #T_dee4d_row4_col9, #T_dee4d_row4_col11, #T_dee4d_row5_col3, #T_dee4d_row5_col5, #T_dee4d_row5_col7, #T_dee4d_row5_col9, #T_dee4d_row5_col11, #T_dee4d_row7_col2, #T_dee4d_row7_col6 {\n  background-color: yellow;\n  color: black;\n}\n</style>\n<table id="T_dee4d_" class="dataframe">\n  <thead>\n    <tr>\n      <th class="blank level0" >&nbsp;</th>\n      <th class="col_heading level0 col0" >mean_fit_time</th>\n      <th class="col_heading level0 col1" >mean_score_time</th>\n      <th class="col_heading level0 col2" >mean_test_accuracy</th>\n      <th class="col_heading level0 col3" >mean_train_accuracy</th>\n      <th class="col_heading level0 col4" >mean_test_f1</th>\n      <th class="col_heading level0 col5" >mean_train_f1</th>\n      <th class="col_heading level0 col6" >mean_test_precision</th>\n      <th class="col_heading level0 col7" >mean_train_precision</th>\n      <th class="col_heading level0 col8" >mean_test_recall</th>\n      <th class="col_heading level0 col9" >mean_train_recall</th>\n      <th class="col_heading level0 col10" >mean_test_roc_auc</th>\n      <th class="col_heading level0 col11" >mean_train_roc_auc</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th id="T_dee4d_level0_row0" class="row_heading level0 row0" >LogisticRegression(n_jobs=-1)</th>\n      <td id="T_dee4d_row0_col0" class="data row0 col0" >0.739155</td>\n      <td id="T_dee4d_row0_col1" class="data row0 col1" >0.016379</td>\n      <td id="T_dee4d_row0_col2" class="data row0 col2" >0.649372</td>\n      <td id="T_dee4d_row0_col3" class="data row0 col3" >0.653353</td>\n      <td id="T_dee4d_row0_col4" class="data row0 col4" >0.465099</td>\n      <td id="T_dee4d_row0_col5" class="data row0 col5" >0.470368</td>\n      <td id="T_dee4d_row0_col6" class="data row0 col6" >0.370612</td>\n      <td id="T_dee4d_row0_col7" class="data row0 col7" >0.374926</td>\n      <td id="T_dee4d_row0_col8" class="data row0 col8" >0.624628</td>\n      <td id="T_dee4d_row0_col9" class="data row0 col9" >0.631003</td>\n      <td id="T_dee4d_row0_col10" class="data row0 col10" >0.707766</td>\n      <td id="T_dee4d_row0_col11" class="data row0 col11" >0.712220</td>\n    </tr>\n    <tr>\n      <th id="T_dee4d_level0_row1" class="row_heading level0 row1" >GaussianNB()</th>\n      <td id="T_dee4d_row1_col0" class="data row1 col0" >0.829836</td>\n      <td id="T_dee4d_row1_col1" class="data row1 col1" >0.027878</td>\n      <td id="T_dee4d_row1_col2" class="data row1 col2" >0.681661</td>\n      <td id="T_dee4d_row1_col3" class="data row1 col3" >0.679474</td>\n      <td id="T_dee4d_row1_col4" class="data row1 col4" >0.433172</td>\n      <td id="T_dee4d_row1_col5" class="data row1 col5" >0.429698</td>\n      <td id="T_dee4d_row1_col6" class="data row1 col6" >0.395317</td>\n      <td id="T_dee4d_row1_col7" class="data row1 col7" >0.391780</td>\n      <td id="T_dee4d_row1_col8" class="data row1 col8" >0.500089</td>\n      <td id="T_dee4d_row1_col9" class="data row1 col9" >0.497647</td>\n      <td id="T_dee4d_row1_col10" class="data row1 col10" >0.670550</td>\n      <td id="T_dee4d_row1_col11" class="data row1 col11" >0.671491</td>\n    </tr>\n    <tr>\n      <th id="T_dee4d_level0_row2" class="row_heading level0 row2" >KNeighborsClassifier()</th>\n      <td id="T_dee4d_row2_col0" class="data row2 col0" >0.751049</td>\n      <td id="T_dee4d_row2_col1" class="data row2 col1" >5.218845</td>\n      <td id="T_dee4d_row2_col2" class="data row2 col2" >0.582624</td>\n      <td id="T_dee4d_row2_col3" class="data row2 col3" >0.753072</td>\n      <td id="T_dee4d_row2_col4" class="data row2 col4" >0.408378</td>\n      <td id="T_dee4d_row2_col5" class="data row2 col5" >0.638189</td>\n      <td id="T_dee4d_row2_col6" class="data row2 col6" >0.312137</td>\n      <td id="T_dee4d_row2_col7" class="data row2 col7" >0.496611</td>\n      <td id="T_dee4d_row2_col8" class="data row2 col8" >0.590526</td>\n      <td id="T_dee4d_row2_col9" class="data row2 col9" >0.892708</td>\n      <td id="T_dee4d_row2_col10" class="data row2 col10" >0.622854</td>\n      <td id="T_dee4d_row2_col11" class="data row2 col11" >0.898071</td>\n    </tr>\n    <tr>\n      <th id="T_dee4d_level0_row3" class="row_heading level0 row3" >SVC()</th>\n      <td id="T_dee4d_row3_col0" class="data row3 col0" >43.699216</td>\n      <td id="T_dee4d_row3_col1" class="data row3 col1" >6.156550</td>\n      <td id="T_dee4d_row3_col2" class="data row3 col2" >0.676836</td>\n      <td id="T_dee4d_row3_col3" class="data row3 col3" >0.725725</td>\n      <td id="T_dee4d_row3_col4" class="data row3 col4" >0.434082</td>\n      <td id="T_dee4d_row3_col5" class="data row3 col5" >0.522247</td>\n      <td id="T_dee4d_row3_col6" class="data row3 col6" >0.379111</td>\n      <td id="T_dee4d_row3_col7" class="data row3 col7" >0.454071</td>\n      <td id="T_dee4d_row3_col8" class="data row3 col8" >0.508247</td>\n      <td id="T_dee4d_row3_col9" class="data row3 col9" >0.614524</td>\n      <td id="T_dee4d_row3_col10" class="data row3 col10" >0.678092</td>\n      <td id="T_dee4d_row3_col11" class="data row3 col11" >0.761598</td>\n    </tr>\n    <tr>\n      <th id="T_dee4d_level0_row4" class="row_heading level0 row4" >DecisionTreeClassifier()</th>\n      <td id="T_dee4d_row4_col0" class="data row4 col0" >1.615918</td>\n      <td id="T_dee4d_row4_col1" class="data row4 col1" >0.015562</td>\n      <td id="T_dee4d_row4_col2" class="data row4 col2" >0.652407</td>\n      <td id="T_dee4d_row4_col3" class="data row4 col3" >1.000000</td>\n      <td id="T_dee4d_row4_col4" class="data row4 col4" >0.360973</td>\n      <td id="T_dee4d_row4_col5" class="data row4 col5" >1.000000</td>\n      <td id="T_dee4d_row4_col6" class="data row4 col6" >0.327325</td>\n      <td id="T_dee4d_row4_col7" class="data row4 col7" >1.000000</td>\n      <td id="T_dee4d_row4_col8" class="data row4 col8" >0.402720</td>\n      <td id="T_dee4d_row4_col9" class="data row4 col9" >1.000000</td>\n      <td id="T_dee4d_row4_col10" class="data row4 col10" >0.567847</td>\n      <td id="T_dee4d_row4_col11" class="data row4 col11" >1.000000</td>\n    </tr>\n    <tr>\n      <th id="T_dee4d_level0_row5" class="row_heading level0 row5" >RandomForestClassifier(n_jobs=-1)</th>\n      <td id="T_dee4d_row5_col0" class="data row5 col0" >13.703251</td>\n      <td id="T_dee4d_row5_col1" class="data row5 col1" >0.304821</td>\n      <td id="T_dee4d_row5_col2" class="data row5 col2" >0.745163</td>\n      <td id="T_dee4d_row5_col3" class="data row5 col3" >1.000000</td>\n      <td id="T_dee4d_row5_col4" class="data row5 col4" >0.391103</td>\n      <td id="T_dee4d_row5_col5" class="data row5 col5" >1.000000</td>\n      <td id="T_dee4d_row5_col6" class="data row5 col6" >0.470573</td>\n      <td id="T_dee4d_row5_col7" class="data row5 col7" >1.000000</td>\n      <td id="T_dee4d_row5_col8" class="data row5 col8" >0.335594</td>\n      <td id="T_dee4d_row5_col9" class="data row5 col9" >1.000000</td>\n      <td id="T_dee4d_row5_col10" class="data row5 col10" >0.690340</td>\n      <td id="T_dee4d_row5_col11" class="data row5 col11" >1.000000</td>\n    </tr>\n    <tr>\n      <th id="T_dee4d_level0_row6" class="row_heading level0 row6" >XGBClassifier(n_jobs=-1)</th>\n      <td id="T_dee4d_row6_col0" class="data row6 col0" >6.975440</td>\n      <td id="T_dee4d_row6_col1" class="data row6 col1" >0.033663</td>\n      <td id="T_dee4d_row6_col2" class="data row6 col2" >0.743514</td>\n      <td id="T_dee4d_row6_col3" class="data row6 col3" >0.759182</td>\n      <td id="T_dee4d_row6_col4" class="data row6 col4" >0.402890</td>\n      <td id="T_dee4d_row6_col5" class="data row6 col5" >0.439589</td>\n      <td id="T_dee4d_row6_col6" class="data row6 col6" >0.467566</td>\n      <td id="T_dee4d_row6_col7" class="data row6 col7" >0.509669</td>\n      <td id="T_dee4d_row6_col8" class="data row6 col8" >0.355085</td>\n      <td id="T_dee4d_row6_col9" class="data row6 col9" >0.387279</td>\n      <td id="T_dee4d_row6_col10" class="data row6 col10" >0.693713</td>\n      <td id="T_dee4d_row6_col11" class="data row6 col11" >0.732819</td>\n    </tr>\n    <tr>\n      <th id="T_dee4d_level0_row7" class="row_heading level0 row7" >LGBMClassifier()</th>\n      <td id="T_dee4d_row7_col0" class="data row7 col0" >2.369359</td>\n      <td id="T_dee4d_row7_col1" class="data row7 col1" >0.043391</td>\n      <td id="T_dee4d_row7_col2" class="data row7 col2" >0.759095</td>\n      <td id="T_dee4d_row7_col3" class="data row7 col3" >0.832339</td>\n      <td id="T_dee4d_row7_col4" class="data row7 col4" >0.372257</td>\n      <td id="T_dee4d_row7_col5" class="data row7 col5" >0.565359</td>\n      <td id="T_dee4d_row7_col6" class="data row7 col6" >0.511131</td>\n      <td id="T_dee4d_row7_col7" class="data row7 col7" >0.768978</td>\n      <td id="T_dee4d_row7_col8" class="data row7 col8" >0.293391</td>\n      <td id="T_dee4d_row7_col9" class="data row7 col9" >0.447030</td>\n      <td id="T_dee4d_row7_col10" class="data row7 col10" >0.697663</td>\n      <td id="T_dee4d_row7_col11" class="data row7 col11" >0.878875</td>\n    </tr>\n  </tbody>\n</table>\n'

In [27]:
from IPython.display import HTML

HTML(models_cv_df_style.to_html())